@charset "UTF-8";
/* Tudo em HTML FOR id = Em CSS É # (Só pode um elemento)
    Tudo Que em HTML é CLASS =Em CSS é . (Pode + de um elemento)
*/

body{
    background-color: rgba(84, 228, 84, 0.178);
    font-family: Arial, Helvetica, sans-serif;

}
h1{
    color:  #223624;
}
h1#principal{
    text-align: center;
    color: white;
    background-color:#223624;
}
h2{
    color:  rgba(6, 148, 6, 0.801);
}
.basico{
    color:  rgba(6, 148, 6, 0.801);
}

.intermediario{
    color:  rgba(134, 148, 6, 0.801);
}
.avancado{
    color:  rgba(148, 11, 6, 0.801);
}
.destaque{
    background-color:  rgba(226, 230, 3, 0.884);
}